name: auto-merge

on:
  workflow_run:
    workflows: [Build / Test]
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project sources
      uses: actions/checkout@v3
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Run build with Gradle Wrapper
      run: ./gradlew build
